body{
    margin: 2em;
    background-image: url(https://www.shutterstock.com/image-illustration/abstract-background-star-warp-hyperspace-260nw-1035076279.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    font-size: 4em;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #dcff66;

    
}

h2{
    color: #dcff66;
}


.containerPersonage{
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    grid-auto-rows: minmax(100px, auto);
    border: 2px solid #dcff66;
    box-shadow: 4px 8px 13px 12px #dcff66;
    border-radius: 20px;
}
.divParPersonnage{

    align-items: center;
    display: flex;
    flex-direction: column;
}



/* Styles pour la fenêtre pop-up */
.divPopUp {
    background-color: rgb(255, 255, 255);
    border: 2px solid #dcff66;
    padding: 10px;
    box-shadow: 5px 5px 10px #dcff66;
    margin-top: 5em;
}

.divPopUp h2{
    color: #0074d9;
    font-size: 4em;
}
.divPopUp ul{
    font-size: 20px;
}

/* Styles pour les liens dans la fenêtre pop-up */
.divPopUp a {
    color: #0074d9;
    text-decoration: none;
}

/* Styles pour les liens au survol */
.divPopUp a:hover {
    text-decoration: underline;
}